<header>
    <h1>{{ pageTitle }}</h1>
    <ul style="list-style: none; display: inline-block;">
        <li style="display: inline;"><a href="/">Home</a></li>
        <li style="display: inline;"><a href="/projects">Projects</a></li>
        <li style="display: inline;"><a href="/about">About</a></li>
    </ul>
</header>